{% extends '::layout.html.twig' %}

{% block body %}

<button type="button" class="btn btn-default" id="run_led">Run</button>

<button type="button" class="btn btn-default" id="status_led">Status</button>






{% endblock %}


       {% block js %}
        <script type="text/javascript" src="{{ asset('js/led.js') }}"></script>
       
       {% endblock %}